<?xml version="1.0" encoding="utf-8"?>
<robot name="complete door" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="plane_xacro" value="plane.xacro"/>
    <xacro:property name="handle_xacro" value="handle.xacro"/>
    
    <xacro:include filename="plane.xacro"/>
    <xacro:door_plane parent="world"/>
  
    

    <xacro:include filename="handle.xacro"/>
    <xacro:door_handle/>
    
 
   

</robot>
