<?xml version="1.0" encoding="utf-8"?>
<robot name="complete door" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="plane_xacro" value="plane.xacro"/>
    <xacro:property name="handle_xacro" value="handle.xacro"/>
    <xacro:property name="handle_pos_x" value="0.0"/>
    <xacro:property name="handle_pos_y" value="0.0"/>
    <xacro:property name="handle_pos_z" value="1.0"/>
    <xacro:property name="handle_ori_r" value="0.0"/>
    <xacro:property name="handle_ori_p" value="0.0"/>
    <xacro:property name="handle_ori_y" value="0.0"/>
    
    <xacro:include filename="plane.xacro"/>
    <xacro:door_plane parent="world"/>
    <link name="handle_connect"/>

    
        <joint name="handle_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="door_plane" />
            <child link="handle_connect" />
            <axis xyz="0 0 0" />
            <dynamics friction="0.4960139088111456" />
            <limit lower="0.0" upper="1.57"/>
        </joint>

        <xacro:include filename="handle.xacro"/>
    <xacro:door_handle parent="handle_connect" handle_pos_x="${handle_pos_x}" handle_pos_y="${handle_pos_y}" 
    handle_pos_z="${handle_pos_z}" handle_ori_r="${handle_ori_r}" handle_ori_p="${handle_ori_p}" handle_ori_y="${handle_ori_y}"/>

</robot>
