<?xml version="1.0" encoding="utf-8"?>
<robot name="complete door" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="plane_xacro" value="plane.xacro"/>
    <xacro:property name="handle_xacro" value="handle.xacro"/>
    <xacro:arg name="handle_pos_x" default="0.0"/>
    <xacro:arg name="handle_pos_y" default="0.3"/>
    <xacro:arg name="handle_pos_z" default="0.0"/>
    <xacro:arg name="handle_ori_r" default="0.0"/>
    <xacro:arg name="handle_ori_p" default="0.0"/>
    <xacro:arg name="handle_ori_y" default="0.0"/>
    
    <xacro:include filename="plane.xacro"/>
    <xacro:door_plane parent="world"/>
  
    

    <xacro:include filename="handle.xacro"/>
    <xacro:door_handle handle_pos_x="${handle_pos_x}" handle_pos_y="${handle_pos_y}" 
    handle_pos_z="${handle_pos_z}" handle_ori_r="${handle_ori_r}" handle_ori_p="${handle_ori_p}" handle_ori_y="${handle_ori_y}"/>

</robot>
