<?xml version="1.0" encoding="utf-8"?>
<robot name="complete door" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="plane_file" default=""/>
    <xacro:arg name="handle_file" default=""/>
    <xacro:arg name="handle_pos_x" value="0.0"/>
    <xacro:arg name="handle_pos_y" value="0.0"/>
    <xacro:arg name="handle_pos_z" value="1.0"/>
    <xacro:arg name="handle_ori_r" value="0.0"/>
    <xacro:arg name="handle_ori_p" value="0.0"/>
    <xacro:arg name="handle_ori_y" value="0.0"/>
    <xacro:property name="size_x" default="0.0"/>
    <xacro:property name="size_y" default="0.0"/>
    <xacro:property name="size_z" default="0.0"/>
    
    <xacro::include filename=${plane_file}
    <xacro:door_plane plane_file="${plane_file}" parent="world"/>
    
    <xacro:include filename=${handle_file}
    <xacro:door_handle handle_file="${handle_file}" parent="door_plane" handle_pos_x="${handle_pos_x}" handle_pos_y="${handle_pos_y}" 
    handle_pos_z="${handle_pos_z}" handle_ori_r="${handle_ori_r}" handle_ori_p="${handle_ori_p}" handle_ori_y="${handle_ori_y}"

</robot>
