<?xml version="1.0" encoding="utf-8"?>
<robot name="complete door" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="plane_file" default=""/>
    <xacro:arg name="handle_file" default=""/>
    <xacro:arg name="handle_pos_x" value="0.0"/>
    <xacro:arg name="handle_pos_y" value="0.0"/>
    <xacro:arg name="handle_pos_z" value="0.0"/>
    <xacro:property name="size_x" default="0.0"/>
    <xacro:property name="size_y" default="0.0"/>
    <xacro:property name="size_z" default="0.0"/>
    
    <xacro:::include filename=${plane_file}
    <xacro:::include filename=${handle_file}


    <xacro:macro name="complete door" params="plane_file" "handle_file" "handle_pos_x" "handle_pos_y" "handle_pos_z">
        <link name="world"/>
        
        <xacro::door_handle params=${handle_file}/>
        <xacro::door_handle params=${plane_file} ${size_x} ${size_y} ${size_z}/>
        

        <joint name="handle_door" type="fixed">
            <!-- Hier xyz für door zu handle offset -->
            <origin xyz="${handle_pos_x} ${handle_pos_y} ${handle_pos_z}" rpy="0 0 0" />
            <parent link="door_plane" />
            <child link="door_handle" />
            <axis xyz="0 0 0" />        
            <dynamics friction="0.4960139088111456" />
            <limit lower="0.0" upper="1.57"/>
        </joint>

        <link name="door_handle">
            <visual>
                <origin xyz="0 0 0" />
                <geometry>
                    <!-- <mesh filename="handle_edited.obj" rpy="0 0 0" /> -->
                    <mesh filename="obj/knob_small.obj" rpy="0 0 0" />
                </geometry>
                <material name="wood">
                <color rgba ="1 1 1 1"/>
                </material>
            </visual>
            <!--
            <inertial>
                <origin xyz="0 0 0" />
                <mass value="2.6409912742551773" />
                <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
            </inertial>
            <collision>
                <origin xyz="-0.148404 0.486267 4.17233e-07" />
                <geometry>
                    <mesh filename="handle_edited.obj" rpy="0 0 0" />
                </geometry>
            </collision>-->
        </link>


        <joint name="door_world" type="fixed">
            <origin xyz="0 0 1" rpy="0 0 0" />
            <parent link="${parent}" />
            <child link="door_plane" />
            <axis xyz="0 0 0" />
            <dynamics friction="0.4960139088111456" />
            <limit lower="0.0" upper="1.57"/>
        </joint>

        <link name="door_plane">
            <visual>
                <origin xyz="0 0 0" />
                <geometry>
                    <mesh filename="obj/door2.obj" rpy="0 0 0" />
                </geometry>
                <material name="wood">
                <color rgba ="1 1 1 1"/>
                </material>
            </visual>
            <!--
            <inertial>
                <origin xyz="0 0 0" />
                <mass value="2.6409912742551773" />
                <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
            </inertial>
            <collision>
                <origin xyz="-0.148404 0.486267 4.17233e-07" />
                <geometry>
                    <mesh filename="door2.obj" rpy="0 0 0" />
                </geometry>
            </collision>-->
        </link>
    </xacro:macro>

    <xacro:door_robot parent="$(arg parent)"/>

</robot>
