<?xml version="1.0" encoding="utf-8"?>
<robot name="door_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="parent" default="world"/>
    <xacro:property name="handle_pos_x" value="0.0"/>
    <xacro:property name="handle_pos_y" value="0.25"/>
    <xacro:property name="handle_pos_z" value="0.0"/>


    <xacro:macro name="door_robot" params="parent">
        <link name="${parent}"/>

        <joint name="handle_door" type="fixed">
            <!-- Hier xyz für door zu handle offset -->
            <origin xyz="${handle_pos_x} ${handle_pos_y} ${handle_pos_z}" rpy="0 0 0" />
            <parent link="door_plane" />
            <child link="door_handle" />
            <axis xyz="0 0 0" />        
            <dynamics friction="0.4960139088111456" />
            <limit lower="0.0" upper="1.57"/>
        </joint>

        <link name="door_handle">
            <inertial>
                <origin xyz="0 0 0" />
                <mass value="2.6409912742551773" />
                <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" />
                <geometry>
                    <!-- <mesh filename="handle_edited.obj" rpy="0 0 0" /> -->
                    <mesh filename="knob.obj" rpy="0 0 0" />
                </geometry>
                <material name="wood">
                <color rgba ="1 1 1 1"/>
                </material>
            </visual>
            <!--<collision>
                <origin xyz="-0.148404 0.486267 4.17233e-07" />
                <geometry>
                    <mesh filename="handle_edited.obj" rpy="0 0 0" />
                </geometry>
            </collision>-->
        </link>


        <joint name="door_world" type="fixed">
            <origin xyz="0 0 1" rpy="0 0 0" />
            <parent link="${parent}" />
            <child link="door_plane" />
            <axis xyz="0 0 0" />
            <dynamics friction="0.4960139088111456" />
            <limit lower="0.0" upper="1.57"/>
        </joint>

        <link name="door_plane">
            <inertial>
                <origin xyz="0 0 0" />
                <mass value="2.6409912742551773" />
                <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" />
                <geometry>
                    <mesh filename="door2.obj" rpy="0 0 0" />
                </geometry>
                <material name="wood">
                <color rgba ="1 1 1 1"/>
                </material>
            </visual>
            <!--<collision>
                <origin xyz="-0.148404 0.486267 4.17233e-07" />
                <geometry>
                    <mesh filename="door2.obj" rpy="0 0 0" />
                </geometry>
            </collision>-->
        </link>
    </xacro:macro>

    <xacro:door_robot parent="$(arg parent)"/>

</robot>